playground-jaxb/src/main/xsd/parameter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
	<!-- The root element -->
	<element name="parameter">
		<complexType>
			<sequence>
				<element name="name" type="string" />
				<element name="value" type="string" />
			</sequence>
		</complexType>
	</element>
</schema>