playground-jpa2/src/test/java/be/cm/apps/playground/testjpa2/Userinfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://schemas.cm.be/Userinfo" xmlns:tns="http://schemas.cm.be/Userinfo"
	elementFormDefault="qualified">

	<xs:element name="userinfo">
		<xs:complexType>
			<xs:attribute name="id" use="required" />
			<xs:attribute name="name" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:element name="dataset">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:userinfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>